$primary:       #10355f;
$secondary:     #356092;
$success:       #189757;
$info:          #578c9a;
$warning:       #dfc71b;
$danger:        #ee160c;
$light:         #f7f3e1;
$dark:          #051b35;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
